#arrow_left,#arrow_right {
margin : auto;
width : 15%;
max-width : 128px;
padding : 10px;
position : absolute;
top : 40%;
}
#arrow_left{
    left : 16px;
}
#arrow_right{
    right : 16px;
}
#description_text{
    color : #eee;
    font-size : 24px;
    text-shadow : -1px -1px 0 #444, 1px -1px 0 #444, -1px 1px 0 #444, 1px 1px 0 #444;
    position : absolute;
    bottom : 0px;
    width : 100%;
    text-align : center;
    padding-bottom : 3%;
}